body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}


input {
    background: none;
    outline: none;
    border: 0px;
    padding: 0;
    margin: 0;

}

select {
    cursor: pointer;
    border: none;
    outline: none;
    padding-right: 14px;
}

ol,
ul {

    margin: 0;

    padding: 0;

}

li {

    list-style: none
}

img {
    margin: 0;
    padding: 0;
    display: block;
}

i {
    font-style: normal;
}

div {
    box-sizing: border-box;
}

.nav {
    width: 100%;
    height: 80px;
}

.nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.nav ul li {
    width: 100px;
    height: 60px;
    line-height: 60px;

    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

.nav ul li:hover {
    border-bottom: 2px solid lightseagreen;
}

.nav ul li.active {
    border-bottom: 2px solid lightseagreen;
}

.nav ul li:nth-of-type(1) {
    margin: 0 20px 0 300px;
}

.main {
    width: 100%;
}

.file_upload {
    margin: 30px 0 0 300px;
    display: block;
    width: 500px;
    height: 100px;
    line-height: 100px;
    background-color: lightgray;

    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: black;
    border-radius: 8px;

}

.file_upload input {
    display: none;
}

.btn {
    margin: 15px 0 0 300px;

    width: 100px;
    height: 40px;
    background-color: blue;
    border-radius: 4px;

    color: white;
    font-size: 20px;
    font-weight: 600;
}

.preview {
    margin: 15px 0 0 300px;
}

.preview .title {
    font-size: 24px;
    font-weight: 700;
}

.preview .videos {
    margin: 15px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: start;
}

.preview .videos video {
    object-fit: cover;
    width: 300px;
    margin: 0 20px 0 0;
}

.result {
    margin: 15px 0 0 0;
}

.result .title {
    font-size: 24px;
    font-weight: 700;
    margin: 5px 0 15px 20px;
}

.one .result .img1 {
    margin: 10px 5px 10px 5px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(13, 1fr);
    gap: 5px;
}

.one .result .img1 img {
    object-fit: cover;
    width: 50%
}

.one .result .img2 {
    margin: 10px 5px 10px 5px;
    display: grid;
    grid-template-rows: repeat(13, 1fr);
    gap: 5px;
}

.one .result .img2 img {
    object-fit: cover;
    width: 50%
}

.one .video {
    margin: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 90%
}

.one .video video {
    object-fit: cover;
    width: 300px;
}

.pmc_download_btn {
    margin:5px 0 20px 10px;
    width: 200px;
}

.pmc_again_btn {
    margin:5px 0 20px 10px;
    width: 200px;
}


.two .result {
    margin: 15px 0 0 300px;
}

.two .result .title {
    margin: 5px 0 15px 0;
}

.two .result .video {
    margin: 20px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: start;
}

.two .result .video video {
    width: 300px;
    object-fit: cover;
    margin: 0 20px 0 0;
}

.wy_download_btn {
    margin-left: 0;
    width: 240px;
}